*, *::after, *::before {
    margin: 0;
    padding: 0;
    line-height: 1.87;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(191, 194, 194, 0.425);
}

.container {
    padding: 3rem;
}

.button {
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 900px) {
    body {
        width: 900px;
        margin: 0 auto;
    }
}